[tools]
hk = "latest"
{% if 'python' in languages -%}
python = "{{ python_version }}"
uv = "latest"
{% endif -%}
{% if 'rust' in languages -%}
rust = "latest"
{% endif -%}
{% if 'lua' in languages -%}
lua = "latest"
stylua = "latest"
"cargo:selene" = "latest"
{% endif -%}
{% if 'shell' in languages -%}
{% if shell_type in ['bash', 'posix'] -%}
shellcheck = "latest"
"asdf:luizm/asdf-shfmt" = "latest"
{% endif -%}
{% if shell_type == 'bash' and shell_test_framework == 'bats' -%}
"npm:bats" = "latest"
{% elif shell_type == 'bash' and shell_test_framework == 'shellspec' -%}
shellspec = "latest"
{% elif shell_type in ['posix', 'zsh'] -%}
shellspec = "latest"
{% endif -%}
{% endif -%}
{% if 'typescript' in languages -%}
node = "lts"
{% endif -%}
